<ng-container *ngIf="notePromise | async as noteOptional">
  <ng-container *ngIf="noteOptional.exists">
    <div fxLayout="row" class="extract-container">
      <p [innerHTML]="noteOptional.item.text | noteExtract:section.entity | highlight:section.entity.Text" fxFlex="grow"></p>
      <p class="date-label">{{noteOptional.item.lastModified | date:'shortDate'}}</p>
      <div fxLayoutAlign="right">
        <button mat-icon-button [routerLink]="['/note', noteOptional.item.id]" [queryParams]="{ h: section.entity.Text}">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</ng-container>
