<mat-tab-group>
  <mat-tab *ngFor="let entityType of entityTypes" [label]="entityType | titlecase">
    <mat-accordion>
      <ng-container *ngFor="let sectionEntries of sections">
        <ng-container *ngIf="sectionEntries.entityType === entityType">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <strong>
                {{sectionEntries.text}}
              </strong>
            </mat-expansion-panel-header>
            <app-analysis-section *ngFor="let section of sectionEntries.sections" [section]="section">
            </app-analysis-section>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
