<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar [color]="titleService.colour" >
  <mat-toolbar-row>
    <div class="logo">
      <a  [href]="logoLink">
        <img src="../assets/icons/logo.png">
      </a>
    </div>

    <div fxFlex="grow">
      {{title}}
    </div>
    <button mat-icon-button fxFlexAlign="right" [routerLink]="['/upload']" title="Add note"><mat-icon>add_box</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>

