<mat-vertical-stepper [linear]="true">
  <mat-step label="Select customer">
    <ng-container *ngIf="usersPromise | async as users">
      <app-select-user [users]="users" [(selectedUser)]="selectedUser"></app-select-user>
    </ng-container>
  </mat-step>
  <mat-step label="Upload notes">
    <ng-container *ngIf="selectedUser">
      <app-upload-notes [(text)]="text"></app-upload-notes>
    </ng-container>
  </mat-step>
  <mat-step label="Done">
    <ng-container *ngIf="selectedUser && text">
      <button mat-button (click)="goClicked()">Go</button>
    </ng-container>
  </mat-step>
</mat-vertical-stepper>
